.example {
  margin-bottom: 94px;
}

.example-tittle {
  margin-top: 0px;
  margin-bottom: 50px;

  color: $tittle-text-color;
  text-align: center;

  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
  // letter-spacing: $primary-letter-spacing;

  @include font-param(700, 36px);
}

.example-list {
  display: flex;
  flex-wrap: wrap;
}

.example-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.example-item:nth-child(3n) {
  margin-right: 0;
}

.example-tumb {
  position: relative;
}

.example-overlay {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;

  background-color: rgba(47, 48, 58, 0.8);
}

.example-text {
  margin-top: 0;
  margin-bottom: 0;

  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;

  @include font-param(700, 14px, 1.14);

  text-transform: uppercase;

  color: $primary-white-color;
}
