.hero {
  text-align: center;
}

.hero-background {
  padding-bottom: 200px;
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 94px;
  max-width: 1600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/Header.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-tittle {
  margin-top: 0;
  margin-bottom: 46px;

  width: 646px;
  margin-left: auto;
  margin-right: auto;

  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  // letter-spacing: 0.06em;

  @include font-param(900, 44px, 1.36, 0.06em);

  text-transform: uppercase;

  color: $primary-white-color;
}

.button.primary {
  @extend %primary-button;
  padding: 10px 32px;
}

// color: $primary-white-color;
// background-color: $accent-color;
// display: inline-block;
// padding: 10px 32px;
// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// border-radius: 4px;
// border: 1px solid transparent;
// min-width: 130px;
// text-align: center;
// font-weight: 700;
// font-size: 16px;
// line-height: 1.87;
// letter-spacing: 0.06em;
