.main-nav {
  position: relative;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
  // display: flex;
  // align-items: center;
}

.logo-nav {
  display: flex;
  // flex-wrap: nowrap;
  // flex-direction: row;
  // justify-content: center;
  align-items: center;
  white-space: nowrap;

  // padding-left: 15px;

  @media screen and (min-width: $tablet) {
    margin-right: 81px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 85px;
  }
}

.site-nav {
  display: flex;
  // margin-left: 85px;
  // align-items: center;
}

.site-nav-list {
  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    // justify-content: center;

    // margin-left: auto;
    // margin-right: 84px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    // margin-left: 85px;
    // margin-right: auto;
    align-items: center;
  }
}

.site-nav-list .link {
  color: $tittle-text-color;
}

.site-nav-list .item {
  // margin-right: 50px;
  @media screen and (max-width: 767px) {
    // margin-top: 60px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 50px;
  }
}

.site-nav-list .item:last-child {
  margin-right: 0;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.site-nav-list .link {
  // display: block;

  // font-weight: $font-weight-main-nav;
  // font-size: $font-size-main-nav;
  // line-height: $line-height-main-nav;
  // letter-spacing: $letter-spacing-main-nav;

  @include font-param(500, 14px, 1.14, 0.02em);

  color: $tittle-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  @media screen and (min-width: $tablet) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav-list .link.current {
  position: relative;
  color: $accent-color;
}

.site-nav-list .link.current::after {
  position: absolute;
  content: '';
  left: 0px;
  bottom: 0px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
}

.auth-nav {
  // display: flex;
  // margin-left: auto;

  & .icon-nav:hover,
  & .icon-nav:focus {
    color: $accent-color;
    fill: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    // display: inline-block;
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}

.auth-nav .item:not(:last-child) {
  // margin-right: 30px;

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.auth-nav .link {
  font-style: normal;

  // font-weight: $font-weight-main-nav;
  // font-size: $font-size-main-nav;
  // line-height: $line-height-main-nav;
  // letter-spacing: $letter-spacing-main-nav;

  @include font-param(500, 14px, 1.14, 0.02em);

  color: $primary-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-nav {
  // display: flex;
  // align-items: center;
  fill: $primary-text-color;

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}

.icon-envelope {
  width: 16px;
  height: 11px;
  margin-right: 10px;
}

.icon-smartpone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (max-width: 767px) {
    margin-left: auto;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  // display: none;

  background-color: $primary-white-color;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    &.is-open {
      display: block;
      text-align: center;
      align-items: center;
      justify-content: center;

      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    // margin-right: 305;
  }
}
