.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  min-width: 528px;
  min-height: 581px;

  background-color: $primary-white-color;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-tittle-container {
  margin-bottom: 30px;
}

.modal-tittle {
  text-align: center;

  font-style: normal;

  // font-weight: 700;
  // font-size: 20px;
  // line-height: 1.5;
  // letter-spacing: $primary-letter-spacing;

  @include font-param(700, 20px, 1.5);
  color: $tittle-text-color;
}

.form {
  width: 448px;
}

.form-field {
  position: relative;
  display: block;

  margin-bottom: 28px;
}

.form-label {
  position: absolute;

  top: 50%;
  left: 42px;

  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;
}

.modal-icon {
  position: absolute;

  top: 11px;
  left: 16px;

  width: 18px;
  height: 18px;
}

.form-field:focus-within > .form-input {
  border-color: $accent-color;
}

.form-field:focus-within > .form-label {
  color: $accent-color;
  transform: translate(-24px, -44px);
}

.form-field:focus-within > .modal-icon {
  fill: $accent-color;
}

.form-input:not(:placeholder-shown) + .form-label {
  transform: translate(-24px, -44px);
}

.form-textarea {
  width: 100%;
  height: 120px;

  padding-top: 12px;
  padding-left: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  resize: none;
}

.textarea-label {
  position: absolute;

  top: 12px;
  left: 16px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .form-textarea {
  border-color: $accent-color;
}

.form-field:focus-within > .textarea-label {
  color: $accent-color;
  transform: translate(-16px, -34px);
}

.form-textarea:not(:placeholder-shown) + .textarea-label {
  transform: translate(-16px, -34px);
}

.checkbox-field {
  display: flex;
  align-items: center;

  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  margin-right: 7px;
  margin-left: 12px;

  border: 2px solid $tittle-text-color;
  border-radius: 4px;
}

.checkbox:checked + .checkbox-icon {
  background-color: $accent-color;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.checkbox-label {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $primary-text-color;
}

.checkbox-link {
  color: $accent-color;
  text-decoration: underline;
}

.button-modal {
  @extend %primary-button;
  padding: 10px 55px;
}

//  color: $primary-white-color;
//   background-color: #188ce8;
//   display: inline-block;

//   padding: 10px 55px;

//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   border: 1px solid transparent;

//   min-width: 130px;

//   text-align: center;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.06em;

.button-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $primary-white-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
    color: $accent-color;
  }
}

.close-icon {
  width: 15px;
  height: 15px;
}
