.team {
  margin-top: 0px;
  margin-bottom: 94px;

  padding-top: 94px;
  padding-bottom: 94px;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  background: $primary-white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-tittle,
.team-name {
  color: $tittle-text-color;
  text-align: center;
}

.team-profession {
  margin-top: 0;
  margin-bottom: 16px;

  justify-content: space-evenly;

  // font-size: 16px;
  // line-height: 1.19;
  // letter-spacing: $primary-letter-spacing;

  @include font-param(400, 16px, 1.19);

  text-align: center;

  color: $primary-text-color;
}

.team-tittle {
  margin-top: 0;
  margin-bottom: 50px;

  justify-content: space-evenly;

  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
  // letter-spacing: $primary-letter-spacing;

  @include font-param(700, 36px);

  text-align: center;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;

  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.19;
  // letter-spacing: $primary-letter-spacing;

  @include font-param(500, 16px, 1.19);
}

.social-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 206px;
  padding-bottom: 21px;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 206px;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-border-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 44px;
  width: 44px;

  fill: $primary-social-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-border-icon:hover,
.social-border-icon:focus {
  fill: $primary-white-color;
  background-color: $accent-color;
}
