// COLOR

$primary-white-color: #ffffff;
$primary-black-color: #000000;
$primary-text-color: #757575;
$tittle-text-color: #212121;
$accent-color: #2196f3;
$text-address-color-footer: rgba(255, 255, 255, 0.6);
$primary-social-color: #afb1b8;

// FONTS

$primary-letter-spacing: 0.03em;

// HEADER

// Main-nav

$font-weight-main-nav: 500;
$font-size-main-nav: 14px;
$line-height-main-nav: 1.14;
$letter-spacing-main-nav: 0.02em;

// Logo header
$font-family-logo: Raleway;
$font-weight-logo: 700;
$font-size-logo: 22px;
$line-height-logo: 1.18;

// link {
//   text-decoration: none;
// }

// .list {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

// img {
//   display: block;
// }
